* {
  margin: 0;
  padding: 0;
}

.fondo {
  width: 100%;
  display: flex;
  position: absolute;
}

.portada {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 79vh;
  background: #CFCFCF;
  margin-top: 8%;
  margin-right: 10%;
  border-radius: 6%;
  font-family: ‘Actor’, sans-serif;
}

h1 {
  color: #4c4c4c;
  font-size: 39px;
  font-family: 'Yellowtail', cursive;
  margin-top: 10%;
}

input {
  padding: 3%;
  width: 67%;
  margin: 9%;
  border-radius: 9px;
  border: 0em;
}

.botones {
  font-family: 'Actor', sans-serif;
  background-color: #4653DD;
  padding: 4%;
  margin: 7%;
  margin-top: 13%;
  border-radius: 8px;
  color: white;
  border: 1px solid #4653dd;
  border-radius: 6%;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}

hr {
  width: 100%;
  padding: -2%;
  margin: 7px;
  border: 1px solid #868686;
}

.contenedorVista {
  display: flex;
  justify-content: flex-end;

}

input[type="text"] {
  padding-left: 9%;
}

input[type="email"] {
  padding-left: 9%;
}

input[type="password"] {
  padding-left: 9%;
}


span {
  margin-top: -16%;
  margin-left: -69%;
}

.logo {
  position: relative;
  width: 45%;
  left: -9%;
  height: 10%;
  display: flex;
  margin-top: 11%;
}

nav {
  display: none;
}

.fondo {
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  display: flex;
  position: absolute;
}

#ingresarGoogle {
  width: 10%;
  cursor: pointer;
}

#irRegistrar {
  margin-top: 4%;
}