* {
  margin: 0;
  padding: 0;
}


.fondo {
  width: 100%;
  height: 700px;
  display: flex;
  position: absolute;
}

.portada {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 34%;
    height: 83vh;
    background: #CFCFCF;
    margin-top: 9%;
    margin-right: 6%;
    border-radius: 6%;
    font-family: ‘Actor’, sans-serif;
}

h1 {
  color: #4c4c4c;
  font-size: 39px;
  font-family: 'Yellowtail', cursive;
  margin-top: 10%;
}

input {
  padding: 3%;
  width: 67%;
  margin: 9%;
  border-radius: 9px;
  border: 0em;
}

.botones {
  font-family: 'Actor', sans-serif;
  background: #6d328c;
  padding: 4%;
  margin: 7%;
  margin-top: 13%;
  color: white;
  border-radius: 6%;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}

hr {
  width: 100%;
  padding: -2%;
  margin: 7px;
  border: 1px solid #868686;
}

.contenedorVista {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: flex-end;

}

input[type="text"] {
  padding-left: 9%;
}

input[type="email"] {
  padding-left: 9%;
}

input[type="password"] {
  padding-left: 9%;
}


span {
  margin-top: -16%;
  margin-left: -69%;
}

.logo {
  position: relative;
  width: 43%;
    left: -18%;
    height: 40%;
    display: flex;
    margin-top: 21%;
}

nav {
  display: none;
}

.error {
  width: 55%;
  height: 658px;
  display: flex;
  position: absolute;
  margin-left: 25%;
}


#ingresarGoogle {
  width: 10%;
  cursor: pointer;
}

#irRegistrar {
  margin-top: 4%;
}

#ingresarGoogleBoton {
  display: none;
}

#muro {
  font-family: 'Actor', sans-serif;
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoMuro {
  display: flex;
  flex-direction: column;
  height: 103px;
  align-items: flex-start;
  width: 53%;
  margin-top: 4%;
}

#texto {
  margin: 0px;
  height: 112px;
  width: 713px;
  resize: none;
  border-radius: 6px;
  border: 1px solid #733d8a;
}

#photo {
  background: white;
  width: 86%;
  height: 51vh;
}

#post{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 7%;
  width: 60%;
}

#publicar {
  display: flex;
  border: 2px solid #9269ac;
  width: 15%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #6d328c;
  border-radius: 7px;
  margin-left: 5%;
  color: white;
  cursor: pointer;
  margin-top: 1%;
}

#cargar {
  display: flex;
  border: 2px solid #9269ac;
  width: 15%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #6d328c;
  color: white;
  border-radius: 7px;
  margin-left: 7%;
  cursor: pointer;
  margin-top: 1%;
}

.eliminar {
  display: flex;
  border: 2px solid #9269ac;
  width: 30%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #6d328c;
  color: white;
  border-radius: 7px;
  margin-left: 7%;
  cursor: pointer;
}

.boton {
  display: flex;
  flex-direction: row-reverse;
  width: 52%;
}

#imagen {
  padding: 1%;
  margin-top: 1%;
  margin-left: -1%;
}

#textoPublicado {
  margin: 0px;
  width: 713px;
  height: 31px;
}

#botonesMuro {

  display: flex;
  padding: 1%;
  width: 97%;
}

.botonPublicaciones {
  font-family: 'Yellowtail', cursive;
  font-size: 23px;
  width: 15%;
  height: 46px;
  background: #6d328c;
  color: white;
  border-radius: 7px;
  border: 2px solid #9269ac;
  margin-right: 3%;
  cursor: pointer;
}

.cerrar {
  font-family: 'Yellowtail', cursive;
  font-size: 23px;
  width: 15%;
  height: 46px;
  background: #6d328c;
  color: white;
  border-radius: 7px;
  border: 2px solid #9269ac;
  margin-left: 53%;
  cursor: pointer;
}

/*
#post{
      margin-left: 24%;
}*/
#banner {
  height: 160px;
  width: 100%;
}

@media (max-width: 400px) {
  .fondo {
    height: 22%;
  }

  .portada {
    display: flex;
    width: 82%;
    height: 69vh;
    font-family: ‘Actor’, sans-serif;
    background: white;
  }

  h1 {
    color: #4c4c4c;
    font-size: 35px;
    font-family: 'Yellowtail', cursive;
    margin-top: 10%;
  }

  input {
    padding: 5%;
    margin: 10%;
  }

  .botones {
    width: 80%;
    border-radius: 12px;
  }

  input[type="text"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  input[type="email"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  input[type="password"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  span {
    margin-top: -22%;
    margin-left: -69%;
  }

  .logo {
    width: 55%;
    left: -23%;
    height: 13%;
    margin-top: 6%;
    border: 1px solid #323c8c;
    background: #abababcf;
    border-radius: 15%;
  }

  #ingresarGoogle {
    width: 10%;
  }

  #irRegistrar {
    margin-top: 4%;
  }

  #muro {
    font-family: 'Actor', sans-serif;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: inherit;
    width: 178%;
  }

  #banner {
    height: 97px;
    width: 65%;
  }

  .botonPublicaciones {
    font-size: 15px;
    width: 31%;
  }

  .cerrar {
    font-size: 15px;
    width: 31%;
    margin-left: 0;
  }

  #botonesMuro {
    width: 54%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .textoMuro {
    width: 53%;
    margin-left: 1%;
  }

  #texto {
    width: 100%;
  }
  #publicar {
    width: 48%;
  }
  
  #cargar {
    display: flex;
    border: 2px solid #9269ac;
    width: 15%;
    height: 36px;
    justify-content: center;
    align-items: center;
    background: #6d328c;
    color: white;
    border-radius: 7px;
    margin-left: 7%;
    cursor: pointer;
    margin-top: 1%;
  }
  .boton {
    display: flex;
    flex-direction: row-reverse;
    width: 52%;
  }
  #imagen {
    padding: 1%;
    margin-top: 1%;
    margin-left: -1%;
  }
  #photo {
    background: white;
    width: 56%;
    height: 280px;
  }
}