* {
  margin: 0;
  padding: 0;
}


.fondo {
  width: 100%;
  height: 700px;
  display: flex;
  position: absolute;
}

.portada {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 79vh;
  background: #CFCFCF;
  margin-top: 8%;
  margin-right: 10%;
  border-radius: 6%;
  font-family: ‘Actor’, sans-serif;
}

h1 {
  color: #4c4c4c;
  font-size: 39px;
  font-family: 'Yellowtail', cursive;
  margin-top: 10%;
}

input {
  padding: 3%;
  width: 67%;
  margin: 9%;
  border-radius: 9px;
  border: 0em;
}

.botones {
  font-family: 'Actor', sans-serif;
  background: #6d328c;
  padding: 4%;
  margin: 7%;
  margin-top: 13%;
  color: white;
  border-radius: 6%;
  width: 30%;
  font-size: 1em;
  cursor: pointer;
}

hr {
  width: 100%;
  padding: -2%;
  margin: 7px;
  border: 1px solid #868686;
}

.contenedorVista {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: flex-end;

}

input[type="text"] {
  padding-left: 9%;
}

input[type="email"] {
  padding-left: 9%;
}

input[type="password"] {
  padding-left: 9%;
}


span {
  margin-top: -16%;
  margin-left: -69%;
}

.logo {
  position: relative;
  width: 49%;
  left: -10%;
  height: 44%;
  display: flex;
  margin-top: 14%;
}

nav {
  display: none;
}

.error {
  width: 55%;
  height: 658px;
  display: flex;
  position: absolute;
  margin-left: 25%;
}


#ingresarGoogle {
  width: 10%;
  cursor: pointer;
}

#irRegistrar {
  margin-top: 4%;
}

#ingresarGoogleBoton {
  display: none;
}

#muro {
  font-family: 'Actor', sans-serif;
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textoMuro {
  display: flex;
  flex-direction: column;
  height: 125px;
  align-items: flex-start;
  margin-top: 4%;
  width: 57%;
  font-family: 'Yellowtail', cursive;
  font-size: 137%;
  margin-left: 3%;
}

#texto {
  margin: 0px;
  height: 87px;
  width: 734px;
  resize: none;
  border-radius: 6px;
  border: 1px solid #733d8a;
  align-self: center;
  margin-top: -7%;
}

.photoPerfil{
  width: 50%;
  display: flex;
  border-radius: 50%;
  padding: 2%;
}
#bienvenida{
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  height: 21%;
  display: flex;
  text-align: center;
  margin-top: 7%;
}

#perfilUsuario{
  display: flex;
  width: 26%;
  height: 246px;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 6%;
  margin-top: 0%;
}
.perfilFoto{
  width: 8%;
  display: flex;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
}
#postear{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #dcc4e0;
  border-radius: 6px;
  width: 88%;
  margin-top: 6%;
}
#nombreUsuario{
  margin-left: 1%;
  margin-top: 3%;
  display: flex;
  width: 62%;
  font-family: 'Yellowtail', cursive;
}
#fotoPublicacion {
  background: white;
  width: 97%;
  height: 51vh;
  border-radius: 10px;
  margin-left: 1%;
}

#publicar {
  display: flex;
  border: 2px solid #9269ac;
  width: 15%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #68446b;
  border-radius: 7px;
  margin-left: 5%;
  color: white;
  cursor: pointer;
  margin-top: 1%;
}

#cargar {
  display: flex;
  border: 2px solid #9269ac;
  width: 15%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #6d328c;
  color: white;
  border-radius: 7px;
  margin-left: 7%;
  cursor: pointer;
  margin-top: 1%;
}

.eliminar, .editar {
  display: flex;
  border: none;
  width: 10%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background: #6a436d;
  color: white;
  border-radius: 3px;
  margin-left: 2%;
  cursor: pointer;
  font-size: 20px;
}
#editar{
  display: none;
  border: 2px solid #9269ac;
  width: 15%;
  height: 36px;
  justify-content: center;
  align-items: center;
  background: #6d328c;
  border-radius: 7px;
  margin-left: 5%;
  color: white;
  cursor: pointer;
  margin-top: 1%;
}

.boton {
  display: flex;
  flex-direction: row-reverse;
  width: 52%;
}

#imagen {
  padding: 1%;
  margin-top: 1%;
  margin-left: -3%;
  margin-right: 17%;

}

#textoPublicado {
  width: 97%;
  height: 65px;
  margin-left: 1%;
  background: white;
  margin-top: 2%;
}

#botonesMuro {
  display: flex;
  padding: 1%;
  width: 97%;
  margin-left: -74%;
  margin-top: 4%;
  justify-content: space-between;
  border: 1px solid #cfcfcf;
  width: 97vw;
  margin-top: unset;
  height: 29%;
  background: #dcc4e0;
}

.botonPublicaciones {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  height: 40px;
  background: #eeeeee00;
  color: rgb(94, 85, 85);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 4%;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}
#home{
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  height: 40px;
  background: #eeeeee00;
  color: rgb(94, 85, 85);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  width: 4%;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
}
#miPerfil{
  margin-right: -69%;
}
.cerrar {
  font-family: 'Yellowtail', cursive;
  font-size: 26px;
  width: 16%;
  height: 39px;
  background: #6d328c00;
  color: rgb(94, 85, 85);
  border-radius: 7px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#cerrarSesion{
  margin-left: 5%;
  margin-top: 2%;
}
.contenedorPerfil{
  font-family: 'Actor', sans-serif;
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#fotoPerfil{
  border: 2px solid #6d328c;
  width: 74%;
  height: 198px;
  display: flex;
  border-radius: 100%;
  background: #f2f2f2;
}

#post{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 7%;
  width: 60%;
  margin-top: -4%;
}
#banner {
  height: 107px;
  width: 100%;
}
#fechaPublicado{
  margin-left: -62%;
  margin-top: 7%;
}


#btn-menu {
  display: none;
}

header label {
  display: none;
}
.menu{
  display: flex;
  z-index: 1;
  transition: all 0.5s;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
  height: 122px;
}
.botonesPost{
  display: flex;
  flex-direction: row-reverse;
  width: 98%;
  justify-content: start;
  margin-top: 1%;
}
.like-counter{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: -4%;
  margin-left: 3%;
}
.heart {
  background-color: #6a436d;
  height: 20px;
  transform: rotate(-45deg);
  width: 20px;
  margin-bottom: 0.5em;
}

.heart:before,
.heart:after {
content: "";
background-color: #6a436d;
border-radius: 50%;
height: 20px;
position: absolute;
width: 20px;
}

.heart:before {
  top: -10px;
  left: 0;
}

.heart:after {
  left: 10px;
  top: 0;
}

.heart-2 {
  background-color: #6a436d;
  height: 20px;
  transform: rotate(-45deg);
  width: 20px;
  margin-bottom: 0.5em;
  animation-fill-mode: forwards;
}

.heart-2:before,
.heart-2:after {
content: "";
background-color: #6a436d;
border-radius: 50%;
height: 20px;
position: absolute;
width: 20px;
}

.heart-2:before {
  top: -10px;
  left: 0;
}

.heart-2:after {
  left: 10px;
  top: 0;
}
.counter-text{
  font-size: 1.2em;
  font-family: "Noto sans", sans-serif;
  width: 100%;
  height: 32px;
  margin-left: -43%;
}
#historyApi{
  padding: 2%;
  width: 95%;
  text-align: center;
}
@media (max-width: 400px) {
  .fondo {
    height: 22%;
  }
  #miPerfil{
    margin-right: -69%;
  }
  .menu-barras {
    width: 23px;
    height: 21px;
    display: block;
    margin-top: -8%;
    margin-left: 4%;
  }
  .like-counter{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: -4%;
    margin-left: 7%;
  }
  .counter-text{
    font-size: 1.2em;
    font-family: "Noto sans", sans-serif;
    width: 100%;
    height: 32px;
    margin-left: -43%;
  }
  #btn-menu {
    display: none;
  }
  header label {
    display: block;
  }

  #btn-menu:checked ~ .menu{
    margin: 0px;
    z-index: 2;
  }
#fotoPublicacion{
  background: white;
  width: 98%;
  height: 33vh;
  border-radius: 10px;
  margin-left: 1%;
}
  .menu{
    display: block;
    margin-left: -125%;    
    z-index: 1;
    transition: all 0.5s;
  }
  #bienvenida{
    font-size: 29px;
  }
  #fotoPerfil{
    border: 2px solid #6d328c;
    width: 100%;
    height: 198px;
    display: flex;
    border-radius: 100%;
    background: #f2f2f2;
  }
  .photoPerfil{
    margin-left: -1%;
    z-index: 0;
    color: white;
  }

  .perfilFoto {
    width: 22%;
    display: flex;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-left: 3%;
}
#nombreUsuario {
  margin-left: 4%;
  margin-top: 6%;
  display: flex;
  width: 61%;
  font-family: 'Yellowtail', cursive;
}
  #perfilUsuario{
    width: 83%;
    height: 202px;
    margin-top: -22%;
    align-self: center;
  }
#fechaPublicado {
    margin-left: -62%;
    margin-top: 16%;
}

#postear {
  width: 148%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -3%;
  margin-top: 12%;
  background-color: #cfcfcf;
  border-radius: 3%;
  border: 2px solid #9269ac;
}
  .portada {
    display: flex;
    width: 82%;
    height: 69vh;
    font-family: ‘Actor’, sans-serif;
    background: white;
    margin-top: -7%;
  }

  h1 {
    color: #4c4c4c;
    font-size: 35px;
    font-family: 'Yellowtail', cursive;
    margin-top: 10%;
  }

  input {
    padding: 5%;
    margin: 10%;
  }

  .botones {
    width: 80%;
    border-radius: 12px;
  }

  input[type="text"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  input[type="email"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  input[type="password"] {
    padding-left: 12%;
    border: 2px solid black;
  }

  span {
    margin-top: -22%;
    margin-left: -69%;
  }

  .logo {
    width: 55%;
    left: -23%;
    height: 13%;
    margin-top: 8%;
    background: #ece7e78f;
    border-radius: 11px;
  }

  #ingresarGoogle {
    width: 10%;
  }

  #irRegistrar {
    margin-top: 4%;
  }

  #muro {
    font-family: 'Actor', sans-serif;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: inherit;
    width: 100%;
  }

  #banner {
    height: 50px;
    width: 100%;
  }
  

  
  .botonPublicaciones {
    margin-left: -1%;
    background: #9570a9f7;
    width: 101%;
    z-index: 3;
    font-size: 22px;
    color: white;
  }

  .cerrar {
    z-index: 3;
    background: #9570a9;
    width: 101%;
    margin-left: -1%;
    color: white;
    font-size: 24px;
  }

  #botonesMuro {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
    height: 99%;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 2%;
    z-index: 3;
  }


#textoPublicado {
  width: 98%;
  height: auto;
  margin-top: 4%;
  margin-left: 1%;
}
  .textoMuro {
    width: 53%;
    margin-left: -36%;
    margin-top: 12%;
    font-family: 'Yellowtail', cursive;
    align-self: center;
  }

  #texto {
    width: 91%;
    margin-top: -25%;
  }
  #publicar {
    width: 6em;
    height: 2em;
    margin-right: -80%;
  }
  
  #cargar {
    display: flex;
    border: 2px solid #9269ac;
    width: 15%;
    height: 36px;
    justify-content: center;
    align-items: center;
    background: #6d328c;
    color: white;
    border-radius: 7px;
    margin-left: 7%;
    cursor: pointer;
    margin-top: 1%;
  }
  .boton {
    display: flex;
    flex-direction: row-reverse;
    width: 52%;
    margin-top: 1%;
  }
  #imagen {
    padding: 1%;
    margin-top: 1%;
    margin-left: -1%;
    margin-right: 51%;
  }
  #photo {
    background: white;
    width: 100%;
    height: 280px;
  }
  #perfilIcono{
    margin-left: 47%;
    margin-top: 2%;
  }
  #homeIcono{
    margin-left: 47%;
    margin-top: 2%;
  }
  #home{
    margin-left: -1%;
    background: #9570a9f7;
    width: 101%;
    z-index: 3;
    font-size: 22px;
    color: white;
  }
}